name: Build

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - v*.*.*           # Push events to v1.0, v1.1, and v1.9 tags

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.10.6'
          channel: 'stable'
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: npm install -g appdmg
      - run: dart pub global activate flutter_distributor
      - run: flutter pub get
      - run: dart run scripts/init.dart
      - run: flutter_distributor release --name ${{ matrix.os }}

      - uses: actions/upload-artifact@v3
        with:
          name: artifact
          path: dist/*/*


  release:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/download-artifact@v3
        with:
          path: dist

      - name: Generate checksum
        uses: jmgilman/actions-generate-checksum@v1
        with:
          patterns: |
            dist/*/*

      - name: GH Release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          files: |
            checksum.txt
            dist/*/*